.main {
    width: 960px;
    margin: 0 auto;
}

.title {
    margin-bottom: 20px;
}

.publishedAt {
    margin-bottom: 40px;
}

.post {
    & > h1 {
        margin: 40px 0 20px;
        padding: 10px 20px;
        border-radius: 5px;
        background-color: #eeeeee;
        font-weight: bold;
        font-size: 30px;
    }
    & > h2 {
        margin: 40px 0 16px;
        border-bottom: 1px solid #dddddd;
        font-weight: bold;
        font-size: 24px;
    }
    & > p {
        line-height: 1.8;
        letter-spacing: .2px;
    }
    & > ol {
        list-style-type: decimal;
        list-style-position: inside;
    }
}